<%= form_for(@song) do |f| %>
  <div class="field">
    <%= f.label :name, "What's the name of the song?" %><br>
    <% if @song.errors[:name].any? %>
      <div class='form-error'>Please enter the song title</div>
    <% end %>
    <%= f.text_field :name, placeholder: 'Title' %>
  </div>
  <div class="field">
    <%= f.label :bpm, "What's the BPM?" %><br>
    <% if @song.errors[:bpm].any? %>
      <div class='form-error'>Please enter BPM between 50 and 200</div>
    <% end %>
    <%= f.text_field :bpm, placeholder: '120' %>
  </div>
  <div class="field">
    <%= f.label :uploaded_file, "Select an MP3" %><br>
    <% if @song.errors[:uploaded_file].any? %>
      <div class='form-error'>Please select an MP3</div>
    <% end %>
    <%= f.file_field :uploaded_file %>
  </div>
  <div class="actions">
    <%= f.submit "Upload", class: 'btn btn-primary' %>
  </div>
  <div id="status-message"></div>
<% end %>

<script type='text/javascript'>
  $(document).ready(function() {
    $('#new_song').submit(function() {
      $('#status-message').text("Your file is being processed.  This may take a few minutes...");
      $('#new_song input[type="submit"]').attr('disabled', 'disabled');
    });
  });
</script>
