<p class='center'>
  <%= link_to 'Upload a song', new_song_path, class: 'btn btn-primary' %>
</p>

<br/>
<br/>
<br/>

<h2 class='center'>Recently-uploaded songs</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Length</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.formatted_duration %></td>
        <td><%= link_to 'Listen', song %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
