<p>Dylome is a tool that manipulates a sound file. The name DYLOME is the word MELODY broken into syllables (me-lo-dy) and reassembled in reverse order. The application does a similar thing to sound files. It breaks them down into small chunks and puts them together in reverse order. The most ear-pleasing results happen when the slicing matches the beat of the music.</p>

<br/>

<p class='center'>
  <%= link_to '<i class="icon-cloud-upload"></i> Upload a song'.html_safe, new_song_path, class: 'btn btn-primary' %>
</p>

<br/>
<br/>
<br/>

<h2 class='center'>Recently-uploaded songs</h2>
<table class='table centered'>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <strong><%= song.name %></strong><br/>
          <small class='details'>
            <%= song.formatted_duration %><br/>
            <%= song.bpm %> BPM
          </small>
        </td>
        <td>
          <div class='song-wrapper'>
            <div class='song'>
              <audio controls>
                <source src="<%= song.uploaded_file.url %>" type="audio/mpeg">
                Your browser does not support this audio format.
              </audio>
              <div class='caption'>
                original
                <%= link_to "<i class='icon-download-alt'></i>".html_safe, song.uploaded_file.url, target: '_blank' %>
              </div>
            </div>
            <% if song.processed_file_file_name %>
              <br/>
              <div class='song'>
                <audio controls>
                  <source src="<%= song.processed_file.url %>" type="audio/mpeg">
                  Your browser does not support this audio format.
                </audio>
                <div class='caption'>
                  dylomified
                  <%= link_to "<i class='icon-download-alt'></i>".html_safe, song.processed_file.url, target: '_blank' %>
                </div>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
