<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @song.length %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @song.bpm %>
</p>

<p>
  <strong>File:</strong>
  <%= @song.uploaded_file_file_name %>
</p>
